[submodule "karpathy/char-rnn"]
	path = karpathy/char-rnn
	url = https://github.com/karpathy/char-rnn.git
[submodule "karpathy/neuraltalk2"]
	path = karpathy/neuraltalk2
	url = https://github.com/karpathy/neuraltalk2.git
[submodule "jcjohnson/neural-style"]
	path = jcjohnson/neural-style
	url = https://github.com/jcjohnson/neural-style.git
[submodule "jcjohnson/torch-rnn"]
	path = jcjohnson/torch-rnn
	url = https://github.com/jcjohnson/torch-rnn.git