[submodule "karpathy/char-rnn"]
	path = karpathy/char-rnn
	url = https://github.com/karpathy/char-rnn.git
[submodule "karpathy/neuraltalk2"]
	path = karpathy/neuraltalk2
	url = https://github.com/karpathy/neuraltalk2.git
[submodule "google/deepdream"]
	path = google/deepdream
	url = https://github.com/google/deepdream.git
[submodule "jcjohnson/neural-style"]
	path = jcjohnson/neural-style
	url = https://github.com/jcjohnson/neural-style.git
